@model FirstWebApp.ViewModels.ListSmartphoneViewModel
@{
    this.ViewData["Title"] = "All Smartphone";
}

<h1>@this.ViewData["Title"] </h1>
<h1> @this.Model.CountSmartphones</h1>

<partial name="_SearchPatial" />
<partial name="_CardComparisonPatial" model="Model.ComparisonSmartphones" />

<a asp-controller="Smartphone" asp-action="Search" asp-route-stringSearch="Samsung">Samsung</a>

<div class="row">
    @foreach (var rezult in this.Model.listSmartphoneViewModels)
    {

        <div class="media col-md-3 " style="border: 3px inset #3d3d1b;">
            <a asp-action="ById" asp-route-id="@rezult.Id">
                <h5>@rezult.Name</h5>
                @if (rezult.image != null)
                {
                    <img src="@rezult.image.Path" class="mr-3 img-responsive" width="100" alt="..." />

                }

                <div class="media-body">

                    <p>@rezult.hardware.CPU</p>

                </div>
            </a>
            @*<a asp-controller="Comparison" asp-action="AddForComparison" asp-route-id="@rezult.Id" class="btn btn-primary">Comparison</a>*@
        </div>

    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
<hr />
